/* 메인 컬러
#8B4F1D
#FFFACD
#FFFFF0
*/


body{
    margin: 0;
    padding: 0;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

/* #header display flex 추가 */
header{
    position: fixed;
    height: 150px !important;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
}
  
#footer{
    left: 0;
    right: 0;
    bottom: 0;

}
#header{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #000000;
}

/* 전체  */
#containerWrap{
    display: flex;
    margin-top: 4%;
    width: 100%;
    height: 80%;
    flex-direction: column;
    align-items: center;
}

/* 상단 */
#topContainer{
    display: flex;
    margin-top:10%;
    width: 90%;
    height: 100%;
    justify-content: center;
    padding: 2%;
}

/* 이미지 */
#imgContainer{
    width: 650px;
    height: 100%;
    margin-right: 70px;
    /* border: 1px solid #d6d6d6; */
    border-radius: 10px;
}

/* 상세 */
#productContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: space-between;
    margin-left: 70px;
    width: 380px;
    padding: 2%;
    border: 1px solid #d6d6d6;
    border-radius: 10px;
}

#productNameCode{
    display: none;
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 15px;
}
table{
    text-align: left;
    width: 100%;
    
}
th{
    font-weight: normal;
}
td{
    height: 35px;
    
}
#productName{
    margin-bottom: 3%;
    font-size: larger;
    font-weight: bold;
}

/* 제품 설명 */
#info{
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    width: 93%;
    height: 300px !important;
    word-break: keep-all;
    padding: 3%;
    overflow: hidden;
    /* margin: 2%; */
}

.productPrice{
    width: 100%;
}

#strPrice, .won{
    font-size: medium;
}

#intPrice, #sumCost{
    display: none;
}

#selContainer{
    display: none;
}

#selectColor, #selectSize{
    width: 100%;
    height: 10%;
    background-color: #f3f3f3;
    margin: 2%;
}
select{
    width: 100%;
    height: 5%;
    text-align: center;
    background-color: #f3f3f3;
    border: none;

}
#selectColor{
    border-top: 1px solid #f1f1f1 ;
}


#totalProducts{
    display: none;
}

.count{
    justify-content: space-between;
}

#productQty{
    font-size: 19px;
    width: 51px;
    margin: 15px;
}
.count, #totalPrice{
    display: flex;
    align-items: center;

}

#selectList{
    width: 100%;
    height: 13%;
    margin: 2%;
    display: none;
    border-top: 1px solid #f1f1f1 ;
    align-items: center;

}
#selectList> p{
    font-size: medium;
}



#productBtn{
    display: flex;
    height: 50px;
    justify-content: space-around;
    margin: 2%;
    padding: 2%;
    border-top: 1px solid #f1f1f1 ;
}
button{
    padding: 3%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #f1f1f1;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
}
button:hover{
    background-color: #FFFACD;
    color: rgb(128, 128, 128);
}


#ditailContainer{
    width: 70%;
    height: 100%;
}

#bdContainer{
    text-align: center;
    width: 100%;
    margin-top: 13%;
    margin-bottom: 7%;
    border-bottom: 1px solid #f1f1f1;
}
