
body{
    margin: 0;
}
.bg{
    background-color: ivory;
}
.pop{
    position: absolute;
    width: 500px;
    height: 400px;
    background-color: white;
    top: 33%;
    left: 33%;
    z-index: 1;
    display: flex;
    flex-direction: row;
}
.pop>img{
  width: 200px;
  height: 300px;
}
.up{
  display: none;
}
#btn{
  width: 20px;
  height: 20px;
}
.popBg{
  position: absolute;
    width: 100%;
    height: 2000px;
    background-color: rgb(75,75,75,0.8);
    top: 0;
    left: 0;
    z-index: 1;
}
.down{
  display: none;
}
#head{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    background-color: #FFFACD;
    font-size: 20px;
  }
  #head>img{
  width: auto;
  height: 350px;
  }
#rev{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    background-color: #8B4F1D;
    padding: 40px; 
    font-size: 30px;
    border-bottom: 3px solid black;
    border-top: 2px solid black;
}
#rev a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #8B4F1D;
    text-decoration: none;
    color: white;
    width: 100px;
    height: 40px;
    font-size: 20px;
}
#rev h1 {
    color: white;
    -webkit-text-stroke: 2px black;
}

#rev>p{
    display: flex;
    gap: 20px;
}
.align{
    border: 3px solid gray;
    box-sizing: content-box;
    margin: 30px;
    padding: 15px;
}
#content1{
    display: flex;
    justify-content: center;
    font-family: 'Freesentation-9Black';
}
#content1>.align>p>a{
    text-decoration: none;
    color: black;
}
#content1 .align img {
    webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  #content1 .align:hover{
    webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
#content2{
    display: flex;
    justify-content: center;
    font-family: 'Freesentation-9Black';
}
#content2 .align img {
    webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  #content2 .align:hover{
    webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
.img{
    border-style: ridge;
    border-width: 10px;
    width: 250px;
    height: 250px;
}

/* ////////////////////////////////////////////////////////////////////////////// */

footer {
    background-color: white;
    padding: 20px 0;
    color: black;
  }
  
  footer .Team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  footer .Team-about,
  footer .sec.quicklinks,
  footer .sec.Contact {
    flex: 1;
    min-width: 250px;
    margin: 20px;
  }
  
  footer h3 {
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  footer p, footer ul {
    margin: 0;
    padding: 0;
    color: darkgray;
  }
  
  footer ul {
    list-style: none;
  }
  
  footer ul li {
    margin-bottom: 10px;
  }
  
  footer ul li a {
    color: darkgray;
    text-decoration: none;
  }
  
  footer ul li a:hover {
    text-decoration: underline;
  }
  
  footer .info li {
    display: flex;
    align-items: center;
  }
  
  footer .info li span {
    margin-right: 10px;
  }
  
  footer .info li a {
    color: darkgray;
    text-decoration: none;
  }
  
  footer .info li a:hover {
    text-decoration: underline;
  }
  
  .CopyrightText {
    background-color: darkgrey;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
  }
  
  .CopyrightText p {
    margin: 0;
  }